# fly.toml app configuration file generated for research-portal-api on 2026-02-22T19:11:36+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'research-portal-api'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.checks]
    [http_service.checks.health]
      interval = "30s"
      timeout = "5s"
      grace_period = "15s"
      method = "GET"
      path = "/api/actuator/health"

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
